html {
    box-sizing: border-box;
    font-size: 16px
}

div:nth-child(odd) {
    width: 943.5px;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    background: #C4C4C4;
    margin-bottom: 10px;
}

div:nth-child(even) {
    width: 629px;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #C4C4C4;
}

div:nth-child(3n+3) {
    font-size: 57%;
}


h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    margin-top: 10px;
    line-height: 20px;
    color: #000000;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.625em;
    margin-top: 10px;
    line-height: 10px;
    color: #000000;

}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75em;
    margin-top: 10px;
    line-height: 10px;
    color: #000000;

}



